[Unit]
Description=MySQL
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mysql-%i
ExecStartPre=-/usr/bin/docker rm mysql-%i
ExecStartPre=/usr/bin/docker pull mysql
ExecStart=/usr/bin/docker run --name mysql-%i -e MYSQL_ROOT_PASSWORD=mysecretpassword mysql
ExecStop=/usr/bin/docker stop mysql-%i
