[Unit]
Description=Notify mysql
BindsTo=mysql@%i.service

[Service]
ExecStart=/bin/sh -c "NAME=mysql-%i; while true; do etcdctl set /services/mysql/$NAME '{ \"host\": \"%H\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/mysql/mysql-%i

[X-Fleet]
X-ConditionMachineOf=mysql@%i.service
